@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?74165387');
  src: url('../fonts/fontello.eot?74165387#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?74165387') format('woff2'),
       url('../fonts/fontello.woff?74165387') format('woff'),
       url('../fonts/fontello.ttf?74165387') format('truetype'),
       url('../fonts/fontello.svg?74165387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74165387#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
 
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-id-card:before { content: '\e800'; } /* 'î €' */
.icon-interview:before { content: '\e801'; } /* 'î ' */
.icon-job:before { content: '\e802'; } /* 'î ‚' */
.icon-job-search:before { content: '\e803'; } /* 'î ƒ' */
.icon-job-search-1:before { content: '\e804'; } /* 'î „' */
.icon-marketing:before { content: '\e805'; } /* 'î …' */
.icon-planning:before { content: '\e806'; } /* 'î †' */
.icon-planning-1:before { content: '\e807'; } /* 'î ‡' */
.icon-presentation:before { content: '\e808'; } /* 'î ˆ' */
.icon-resume:before { content: '\e809'; } /* 'î ‰' */
.icon-teamwork:before { content: '\e80a'; } /* 'î Š' */
.icon-video-conference:before { content: '\e80b'; } /* 'î ‹' */
.icon-workers:before { content: '\e80c'; } /* 'î Œ' */
.icon-curriculum:before { content: '\e80d'; } /* 'î ' */
.icon-curriculum-1:before { content: '\e80e'; } /* 'î Ž' */
.icon-engineer:before { content: '\e80f'; } /* 'î ' */
.icon-group:before { content: '\e810'; } /* 'î ' */
.icon-group-1:before { content: '\e811'; } /* 'î ‘' */
.icon-human-resources:before { content: '\e812'; } /* 'î ’' */
.icon-human-resources-1:before { content: '\e813'; } /* 'î “' */
.icon-031-hierarchical-structure:before { content: '\e814'; } /* 'î ”' */
.icon-031-id-card:before { content: '\e815'; } /* 'î •' */
.icon-031-incentive:before { content: '\e816'; } /* 'î –' */
.icon-031-intelligence:before { content: '\e817'; } /* 'î —' */
.icon-031-job-search:before { content: '\e818'; } /* 'î ˜' */
.icon-031-management:before { content: '\e819'; } /* 'î ™' */
.icon-031-management-1:before { content: '\e81a'; } /* 'î š' */
.icon-031-management-2:before { content: '\e81b'; } /* 'î ›' */
.icon-031-motivation:before { content: '\e81c'; } /* 'î œ' */
.icon-031-organization:before { content: '\e81d'; } /* 'î ' */
.icon-031-profits:before { content: '\e81e'; } /* 'î ž' */
.icon-031-promotion:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-031-relation:before { content: '\e820'; } /* 'î  ' */
.icon-031-salary:before { content: '\e821'; } /* 'î ¡' */
.icon-031-settings:before { content: '\e822'; } /* 'î ¢' */
.icon-031-settings-1:before { content: '\e823'; } /* 'î £' */
.icon-031-strategy:before { content: '\e824'; } /* 'î ¤' */
.icon-031-team:before { content: '\e825'; } /* 'î ¥' */
.icon-031-training:before { content: '\e826'; } /* 'î ¦' */
.icon-031-vacations:before { content: '\e827'; } /* 'î §' */
.icon-031-administrator:before { content: '\e828'; } /* 'î ¨' */
.icon-031-analysis:before { content: '\e829'; } /* 'î ©' */
.icon-031-analysis-1:before { content: '\e82a'; } /* 'î ª' */
.icon-031-balance:before { content: '\e82b'; } /* 'î «' */
.icon-031-briefcase:before { content: '\e82c'; } /* 'î ¬' */
.icon-031-contract:before { content: '\e82d'; } /* 'î ­' */
.icon-031-database:before { content: '\e82e'; } /* 'î ®' */
.icon-031-email:before { content: '\e82f'; } /* 'î ¯' */
.icon-031-employee:before { content: '\e830'; } /* 'î °' */
.icon-031-evaluation:before { content: '\e831'; } /* 'î ±' */
.icon-017-analysis:before { content: '\e832'; } /* 'î ²' */
.icon-018-businessman-1:before { content: '\e833'; } /* 'î ³' */
.icon-019-meeting:before { content: '\e834'; } /* 'î ´' */
.icon-020-worker:before { content: '\e835'; } /* 'î µ' */
.icon-021-user:before { content: '\e836'; } /* 'î ¶' */
.icon-022-megaphone-1:before { content: '\e837'; } /* 'î ·' */
.icon-023-video-call:before { content: '\e838'; } /* 'î ¸' */
.icon-024-teamwork-1:before { content: '\e839'; } /* 'î ¹' */
.icon-025-presentation-1:before { content: '\e83a'; } /* 'î º' */
.icon-026-businessman:before { content: '\e83b'; } /* 'î »' */
.icon-027-curriculum:before { content: '\e83c'; } /* 'î ¼' */
.icon-028-presentation:before { content: '\e83d'; } /* 'î ½' */
.icon-029-engineer:before { content: '\e83e'; } /* 'î ¾' */
.icon-030-conversation:before { content: '\e83f'; } /* 'î ¿' */
.icon-031-teamwork:before { content: '\e840'; } /* 'î¡€' */
.icon-032-planning:before { content: '\e841'; } /* 'î¡' */
.icon-033-relation:before { content: '\e842'; } /* 'î¡‚' */
.icon-034-add-user:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-035-administrator:before { content: '\e844'; } /* 'î¡„' */
.icon-036-balance:before { content: '\e845'; } /* 'î¡…' */
.icon-037-calendar:before { content: '\e846'; } /* 'î¡†' */
.icon-038-hierarchical-structure-1:before { content: '\e847'; } /* 'î¡‡' */
.icon-039-note:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-040-database:before { content: '\e849'; } /* 'î¡‰' */
.icon-041-hierarchical-structure:before { content: '\e84a'; } /* 'î¡Š' */
.icon-042-id-card:before { content: '\e84b'; } /* 'î¡‹' */
.icon-043-email:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-044-briefcase:before { content: '\e84d'; } /* 'î¡' */
.icon-045-strategy:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-046-management:before { content: '\e84f'; } /* 'î¡' */
.icon-047-profits-1:before { content: '\e850'; } /* 'î¡' */
.icon-048-megaphone:before { content: '\e851'; } /* 'î¡‘' */
.icon-049-profits:before { content: '\e852'; } /* 'î¡’' */
.icon-050-team:before { content: '\e853'; } /* 'î¡“' */
.icon-001-job-search:before { content: '\e854'; } /* 'î¡”' */
.icon-002-salary:before { content: '\e855'; } /* 'î¡•' */
.icon-003-contract:before { content: '\e856'; } /* 'î¡–' */
.icon-004-intelligence:before { content: '\e857'; } /* 'î¡—' */
.icon-005-placeholder:before { content: '\e858'; } /* 'î¡˜' */
.icon-006-motivation:before { content: '\e859'; } /* 'î¡™' */
.icon-007-settings:before { content: '\e85a'; } /* 'î¡š' */
.icon-008-stopwatch:before { content: '\e85b'; } /* 'î¡›' */
.icon-009-diploma:before { content: '\e85c'; } /* 'î¡œ' */
.icon-010-clipboard:before { content: '\e85d'; } /* 'î¡' */
.icon-011-target:before { content: '\e85e'; } /* 'î¡ž' */
.icon-012-handshake:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-013-meeting-1:before { content: '\e860'; } /* 'î¡ ' */
.icon-014-networking:before { content: '\e861'; } /* 'î¡¡' */
.icon-015-book:before { content: '\e862'; } /* 'î¡¢' */
.icon-016-desk:before { content: '\e863'; } /* 'î¡£' */
.icon-quality:before { content: '\e864'; } /* 'î¡¤' */
.icon-idea:before { content: '\e865'; } /* 'î¡¥' */
.icon-target:before { content: '\e866'; } /* 'î¡¦' */
.icon-users:before { content: '\e867'; } /* 'î¡§' */
.icon-like:before { content: '\e868'; } /* 'î¡¨' */
.icon-network:before { content: '\e869'; } /* 'î¡©' */
.icon-left-arrow:before { content: '\e86a'; } /* 'î¡ª' */
.icon-right-arrow:before { content: '\e86b'; } /* 'î¡«' */