@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700|Open+Sans:300,400,600,700");
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import "https://azmind.com/demo/bootstrap-carousel-multiple-items/assets/css/carousel.css";

body {
	line-height: 1.6;
	font-family: Muli;
	-webkit-font-smoothing: antialiased;
	;font-size: 15px;
	color: #818385;
	font-weight: 400;
}

/*header navbar start*/
header {
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
	z-index: 1; 
}

@media (max-width: 321px) {
	header .navbar .navbar-brand .space-basic {
		display: none;
	}
}

.navbar-toggler {
	padding: 9px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-color: #ddd;
	color: #ddd;
}

.navbar-toggler:focus, .navbar-toggler:hover {
	border-color: #ddd;
}

.navbar-toggler .icon-bar {
	background-color: #888;
	display: block;
	width: 22px;
	height: 1px;
	border-radius: 1px; 
}

.navbar-toggler .icon-bar+.icon-bar {
	margin-top: 4px;
	background-color: #888;
	display: block;
	width: 22px;
	height: 1px;
	border-radius: 1px; 
}

.navbar .navbar-nav .nav-item {
	padding: 0px 10px;
}

.navbar .navbar-nav .nav-link {
	color: #2F2640;
}

.navbar .navbar-nav .nav-link:hover {
	color: #00b5e1;
}

.navbar .nav-item .nav-link {
	font-family: Muli;
	font-size: 15px;
	text-align: center;
	color: #000000;
}

.navbar .nav-item .login {
	color: #00b5e1;
	border-color: #00b5e1;
	background: none;
	font-family: Muli;
	font-size: 15px;
	text-align: center;
}

.navbar .nav-item .login:hover {
	color: white;
	text-align: center;
	background-color: #00b5e1; 
}

/*slider start*/
.slider {
	padding-top: 10px;
}

.slider .feature-block {
	padding-top: 100px;
	padding-left: 200px;
}

@media (max-width: 992px) {
	.slider .feature-block {
    	padding-left: 10px;
    	padding-top: 80px;
  	}
}

.slider .feature-block h2 {
	font-family: Muli;
	font-weight: 800;
	font-size: 69px;
	color: #000000;
}

@media (max-width: 1200px) {
	.slider .feature-block h2 {
    	font-size: 36px;
  	}
}

.slider .feature-block p {
	font-family: Muli;
  	font-size: 21px;
  	color: #000000;
}

@media (max-width: 991px) {
	.slider .feature-block p {
    	font-size: 16px;
  	} 
}

.slider .feature-block .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    color: white;
}

.slider .slider-textbox, .utilities .slider-textbox {
	padding: 10px;
}

.slider .text-box, .utilities .text-box {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	/*margin: 10px;*/
}
 
@media (max-width: 576px) {
	.slider .slider-textbox, .utilities .slider-textbox {
		display: none;
	}
}

.slider .text-box label, .utilities .text-box label {
	font-family: Muli;
	font-size: 12px;
	color: #00b5e1;
}

.slider .text-box input, .utilities .text-box input {
	font-family: Muli;
	font-size: 16px;
	opacity: 0.5;	
	color: #00b5e1;
}

.slider .box, .utilities .box {
	background-image: linear-gradient(143deg, #17cec4, #08aeea);
	/*margin: 10px;*/
}

.slider .box h5, .utilities .box h5 {
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	margin: 20px 0px;
	cursor: pointer;
}

/*section item class*/
.items {
	margin-top: 100px;
	margin-bottom: 50px;
}

.items .feature {
	font-size: 21px;
	text-align: center;
	color: #000000;
}

.items img {
	cursor: pointer;
}

/*section content-with-blog start*/
.content-with-blog {
	margin-top: 20px;
}

.content-with-blog h4 {
	font-size: 18px;
	color: #000000;
}

.content-with-blog h2 {
	font-size: 50px;
	font-family: Muli;
	font-weight: 800;
	color: #000000; 
}

@media (max-width: 768px) {
	.content-with-blog h2 {
		font-size: 26px;
	}
}

.content-with-blog .testimonial-slider p {
	font-size: 21px;
	font-family: Muli;
	color: #000000;
}

@media (max-width: 768px) {
	.content-with-blog .testimonial-slider p {
		font-size: 18px;
	}
}

/*content start*/
.content {
	margin-top: 50px;
}

.content .box {
	margin: 15px 30px;
	box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
	border-radius: 3%;
}

.content .box .card1 {
	box-shadow: 0 2px 4px 0 rgba(128, 32, 0, 0.15);
    background-image: linear-gradient(143deg, #f2c314, #fc3832);
}

.content .box .card2 {
	box-shadow: 0 2px 4px 0 rgba(128, 32, 0, 0.15);
    background-image: linear-gradient(143deg, #32fbfc, #3214f2);
}

.content .box .card3 {
	box-shadow: 0 2px 4px 0 rgba(128, 32, 0, 0.15);
    background-image: linear-gradient(143deg, #17cec4, #08aeea);
}

.content img {
	width: 60px;
	height: 60px;
	margin: 77px 0px;
  	/*margin-top: 66px;*/
}

@media (max-width: 460px) {
	.content img {
		width: 60px;
		height: 60px;
		margin: 110px 0px;
  	}
}

.content .card-text {
	padding: 35px 20px;
}

.content .card-text h6 {
	font-size: 18px;
	font-weight: 800;
	color: #000000;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.content .card-text h6 {
		font-size: 16px;
	}
}

.content .card-text p {
	font-size: 16px;
	color: #000000;
}

/*section about start*/
.about {
	background: #000000;
	margin-top: 50px;
}

.about .part-1 {
	padding-top: 100px;
}

.about .part-2 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.about h4{
	font-size: 34px;
	font-weight: 800;
	color: #5a5a5a;
}

@media (max-width: 768px) {
	.about h4 {
		font-size: 21px;
	}
}
@media (min-width: 768px) and (max-width: 997px) {
	.about h4 {
		font-size: 26px;
	}
}
.about h2 {
	font-size: 43px;
	font-weight: 800;
	color: #ffffff;
}

@media (max-width: 768px) {
	.about h2 {
		font-size: 21px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.about h2 {
		font-size: 26px;
	}
}

.about .text-paragraph {
	font-size: 19px;
	color: #ffffff;
}

@media (max-width: 768px) {
	.about .text-paragraph {
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.about .text-paragraph {
		font-size: 16px;
	}
}


.about .icon-with-text .text-style {
	font-size: 43px;
	color: #ffffff;
}

.about .icon-with-text .Increase {
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

/*section service-2 start*/
.service-2 {
	padding-top: 80px;
	padding-bottom: 50px;
}

.service-2 .title h2 {
	font-size: 60px;
	font-weight: 800;
	color: #000000;
}

@media (max-width: 368px) {
	.service-2 .title h2 {
		font-size: 26px;
	}
}

@media (min-width: 368px) and (max-width: 768px) {
	.service-2 .title h2 {
		font-size: 32px;
	}
}

@media (min-width: 768px) and (max-width: 997px) {
	.service-2 .title h2 {
		font-size: 42px;
	}
}

.service-2 .title p {
	font-size: 21px;
	text-align: center;
	color: #000000;
}

@media (max-width: 368px) {
	.service-2 .title p {
		font-size: 16px;
	}
}

@media (min-width: 368px) and (max-width: 768px) {
	.service-2 .title p {
		font-size: 18px;
	}
}

.service-2 .set-content {
	padding-top: 50px;
}

.service-2 .set-content h3 {
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	color: #000000;
}

.service-2 .set-content p {
	font-size: 16px;
	text-align: center;
	color: #000000;
	opacity: 0.7;
}

/*section-with-blog strat*/
.section-with-blog {
	background: #000000;
	background-size: cover;
	margin-top: 50px;
}

.section-with-blog .block-text {
	margin: 150px;
}

@media (max-width: 997px) {
	.section-with-blog .block-text {
		margin-bottom: 30px;
	}
}

.section-with-blog .block-text h6 {
	font-size: 18px;
	color: #ffffff;
}

.section-with-blog .block-text h2 {
	font-size: 46px;
	font-weight: 800;
	color: #ffffff;
}

@media (max-width: 368px) {
	.section-with-blog .block-text h2 {
		font-size: 32px;
	}
}

@media (min-width: 368px) and (max-width: 768px) {
	.section-with-blog .block-text h2 {
		font-size: 36px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.section-with-blog .block-text h2 {
		font-size: 40px;
	}
}

.section-with-blog .block-text p {
	font-size: 18px;
	color: #ffffff;
}

@media (max-width: 440px) {
	.section-with-blog .block-text p {
		font-size: 14px;
	}	
}

.section-with-blog .card-base4 {
	background-image: linear-gradient(to bottom, #17cec4, #08aeea);
}

.section-with-blog .card-base4 p {
	font-size: 16px;
	font-weight: 600; 
	color: #ffffff;
	padding: 10px 30px;
}

.section-with-blog .block-section {
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.section-with-blog .data-item {
	/*border: 1px solid white;*/
	/*transform: translate3d(0px, 71px, 0px);*/
  	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px;
	/*margin-top: 10px;*/
}

@media (max-width: 768px) {
	.section-with-blog .data-item {
		margin: 10px 20px;
	}
}

.section-with-blog .data-item2 {
	/*border: 1px solid white;*/
	transform: translate3d(0px, 71px, 0px);
  	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
	padding: 10px 20px;
	/*margin-left: 10px;*/
	margin: 10px;
}

@media (max-width: 768px) {
	.section-with-blog .data-item2 {
		transform: none;
		margin: 10px 20px;
	}
}

.section-with-blog .block-section img {
	height: 36px;
  	width: 36px;
  	border-radius: 100%;
  	text-align: center;
  	margin-top: 15px;
}

.section-with-blog .block-section h5 {
	font-size: 12px;
	font-family: Muli;
	font-weight: 600;
	color: #ffffff;
	padding: 25px 15px;
}

.section-with-blog .block-section p {
	opacity: 0.8;
  	font-family: Muli;
  	font-size: 13px;
	color: #ffffff;
}

.section-with-blog .block-section h6 {
	font-size: 12px;
	opacity: 0.5; 
	color: #ffffff;
}

/*section utilities start*/
.utilities {
	padding-top: 140px;
}

.utilities .text-with-blog h6 {
	font-size: 18px;
	opacity: 0.8;
	color: #000000;
}

.utilities .text-with-blog h2 {
	font-size: 60px;
	font-weight: 800;
	color: #000000;
}

@media (max-width: 368px) {
	.utilities .text-with-blog h2 {
		font-size: 26px;
	}
}

@media (min-width: 368px) and (max-width: 768px) {
	.utilities .text-with-blog h2 {
		font-size: 48px;
	}
}

.utilities .text-with-blog p {
	font-size: 21px;
	opacity: 0.8;
	color: #000000;
}

@media (max-width: 368px) {
	.utilities .text-with-blog p {
		font-size: 18px;
	}
}
 
.utilities .text-with-blog2 {
	padding-top: 60px;
}

.utilities .text-with-blog2 h4 {
	opacity: 0.8;
	font-size: 18px;
	font-weight: 600;
	color: #000000;
}

.utilities .text-with-blog2 h5 {
	opacity: 0.8;
	font-size: 16px;
	line-height: 1.75;
	color: #000000;	
}

.utilities ul .contact-mail {
	margin-right: 20px;
}

.utilities ul li a {
	opacity: 0.8;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.75;
	color: #00b5e1;
}

@media (max-width: 368px) {
	.utilities ul li a {
		font-size: 14px;
	}
}

hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/*footer start*/
.footer ul {
	list-style: none;
  	display: block;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

.footer ul li .social-icon {
	text-align: center;
	color: #000000;
	opacity: 0.51;
}

.footer ul li a {
	font-size: 14px;
	color: #00b5e1;
	padding: 0px 3px;
} 

.footer .copyright-text p {
	opacity: 0.75;
	font-size: 12px;
	color: #000000;
}