@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700|Open+Sans:300,400,600,700");
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body {
	line-height: 1.6;
	font-family: Muli;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
	color: #818385;
	font-weight: 400;
}
/*1) Partner view slider*/
/*header navbar start*/
header {
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
	z-index: 1;
}

@media (max-width: 321px) {
	header .navbar .navbar-brand .space-basic {
		display: none;
	}
}

.navbar-toggler {
	padding: 9px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-color: #ddd;
	color: #ddd;
}

.navbar-toggler:focus, .navbar-toggler:hover {
	border-color: #ddd;
}

.navbar-toggler .icon-bar {
	background-color: #888;
	display: block;
	width: 22px;
	height: 1px;
	border-radius: 1px; 
}

.navbar-toggler .icon-bar+.icon-bar {
	margin-top: 4px;
	background-color: #888;
	display: block;
	width: 22px;
	height: 1px;
	border-radius: 1px; 
}

.navbar .navbar-nav .nav-item {
	padding: 0px 10px;
}

.navbar .navbar-nav .nav-link {
	color: #2F2640;
}

.navbar .navbar-nav .nav-link:hover {
	color: #00b5e1;
}

.navbar .nav-item .nav-link {
	font-family: Muli;
	font-size: 15px;
	text-align: center;
	color: #000000;
}

.navbar .nav-item .login {
	color: #00b5e1;
	border-color: #00b5e1;
	background: none;
	font-family: Muli;
	font-size: 15px;
	text-align: center;
}

.navbar .nav-item .login:hover {
	color: white;
	text-align: center;
	background-color: #00b5e1; 
}

/*slider start*/
.slider .dot {
	cursor: pointer;
	height: 50px;
	width: 50px;
    background-image: linear-gradient(143deg, #17cec4, #08aeea);
	display: inline-block;
	color: #000000;
	padding: 10px;
    font-weight: bold;
}

.slider .active, .dot:hover {
   background-image: linear-gradient(#3214f2, #3214f2, #3214f2);
   color: #ffffff;
}

.slider .active .dot:hover p {
	color: red;
	font-family: Muli;
}

/*@media (min-width: 997px) {*/
.slider .line {   
	position: absolute;
	z-index: -1;
	top: 120px;
	border-top: 2px dashed #ccc;
	width: 724px;
}	

@media (min-width: 200px) and (max-width: 996px) {
	.slider .line {
		/*width: 210px;*/
		border: none;
	}
}

@media (min-width: 996px) and (max-width: 1200px) {
	.slider .line {
		width: 600px;
		/*border: none;*/
	}
}

.slider p {
	font-family: Muli;
	font-size: 14px;
}

.slider p {
   color: #000000;
   font-weight: bold;
   font-family: Muli;
}

.slider .slideshow-container {
	/*max-width: 1000px;*/
	/*position: relative;*/
	/*margin: auto;*/
}

.slider .mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.fade:not(.show) {
	opacity: 5;
}

.slideshow-container .content{
	background-color: #ccc;
	margin: 19px;
}

.slideshow-container .content h6 {
	font-family: Muli;
	text-align: center;
	color: #000000;
	margin: 12px;
}

.slideshow-container .content2{
	background: #ccc;
	margin: 17px;
	border-color: red;
}

.slideshow-container .content2 h6 {
	font-family: Muli;
	text-align: center;
	color: #000000;
	margin: 12px;
}

.slideshow-container .next {
	background-image: linear-gradient(143deg, #08aeea, #17cec4);
}

.slideshow-container button p {
	font-family: Muli;
	color: #ffffff;
	font-weight: 800;
	font-size: 15px;
	margin: 0px 20px;
}

.slideshow-container .mySlides 	.service-image {
	float: left;
	background: #000000;
	margin: 15px;
	/*height: 50px;*/
	/*width: 50px;*/
	border: 2px solid #000000;
}

.slideshow-container .mySlides 	.service-image2 {
	float: left;
	background: #000000;
	border: 2px solid #000000;
}

.slideshow-container .mySlides .service-text {
	position: relative;
	/*padding: 8px 12px;*/
	/*margin: 13px 0px;*/
}

.slideshow-container .mySlides .service-text h3 {
	font-family: Muli;
	font-weight: 750;
	color: #000000;
}

@media (max-width: 335px) {
	.slideshow-container .mySlides .service-text h3 {
		font-size: 21px;
	}
}

.slideshow-container .mySlides .service-text h6 {
	font-family: Muli;
	font-weight: 600;
	color: #000000;
}

.slideshow-container .mySlides .service-text h5 {
	font-family: Muli;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
}

.slideshow-container .mySlides .service-text h4 {
	font-family: Muli;
	color: #000000;
	font-weight: 800;
	font-size: 26px;
}

@media (max-width: 367px) {
	.slideshow-container .mySlides .service-text h4 {
		font-size: 17px;
	}
}

@media (min-width: 367px) and (max-width: 767px) {
	.slideshow-container .mySlides .service-text h4 {
		font-size: 21px;
	}
}

.slideshow-container .mySlides .service-text h4 button {
	color: #ffffff;
}

.slideshow-container .mySlides .service-text .positions {
	font-family: Muli;
	font-weight: 400;
	color: #000000;
	font-size: 18px;
}

.slideshow-container .mySlides .service-text .unpaid, 
.slideshow-container .mySlides .service-text .degree {
	color: #000000;
	margin: 2px 4px;
	/*padding: 4px 25px;*/
}

.slideshow-container .mySlides .service-text .skill {
	color: #ffffff;
	margin: 2px 4px;
	/*padding: 0px 3px;*/
}

.slideshow-container .content-part{
	background-color: #ccc;
}

@media (max-width: 991px) {
	.slideshow-container .content-part{
		margin: 15px;
	}
}

.slideshow-container .content-part h6 {
	font-family: Muli;
	text-align: center;
	color: #000000;
	margin: 25px;
}

.slideshow-container .mySlides .service-text .skill2 {
	color: #ffffff;
	margin: 2px 0px;
	padding: 3px 8px;
}

.slideshow-container .mySlides .service-text .skill3 {
	color: #ffffff;
	margin: 2px 10px;
	padding: 0px 3px;
}

@media (max-width: 767px) {
	.slideshow-container .mySlides .service-text .skill2, 
	.slideshow-container .mySlides .service-text .skill3 {
		margin: 12px 10px;
	}
}

/*2) student view*/
/*slider1 start*/
.text h2 {
	font-family: Muli;
	color: #000000;
}

.slideshow-container .content2 .db-button {
	font-family: Muli;
	text-align: center;
	color: #000000;
	/*margin: 12px;*/
}

/*3) view listing*/
/*slider1 start*/
.marketing {
	border-right: 1px solid #ccc;
}

@media (max-width: 991px) {
	.marketing {
		border-right: none;
		border-bottom: 1px solid #ccc;
	}
}

.marketing .contents {
	background-color: #ccc;
	margin: 14px;
}

.marketing .contents h6 {
	font-family: Muli;
	text-align: center;
	color: #000000;
	margin: 20px;
}

.slideshow-container .mySlides .service-text .keyword-match {
	color: #ffffff;
	margin: 3px 0px;
	/*padding: 0px 3px;*/
}

.progress-data {
	/*padding: 0px 25px;*/
}

.slideshow-container .mySlides .service-text .progress-data .progress-user-data .progress-user-name {
	font-family: Muli;
	font-size: 21px;
	color: #000000;
}

.progress-data .progress-user-data .progress {
	height: 0.6rem;
	border-radius: 31.25rem;
}

.progress-data .progress-user-data .font {
	font-family: Muli;
	color: #000000;
}

.progress-data .progress-user-data .font a {
	font-family: Muli;
	color: #007bff;
}