.logo
{
	margin-left: 550px;
	margin-top: 50px;
}
h2
{
	color: black;
	font-size: 34px;
	font-weight: normal;
    text-transform: none;
    font-style: italic;
    line-height: normal;
}
img
{
	height: 100px;
	width: 100px;
}
h3
{
	font-size: 22px;
	padding-left:40px;
}
.row
{
	padding-left: 50px;
}
/*.form-group
{
	font-size: 20PX;
}*/