.header
{
	background-color: #363636;
}
.logo
{
	margin-left: 10px;
}
.logo-login
{
	margin-left: 500px;
	margin-top: 50px;
}
h2
{
	color: black;
	font-size: 30px;
	font-weight: normal;
    text-transform: none;
    font-style: italic;
    line-height: normal;
}
.logo-img
{
	height: 80px;
	width: 80px;
}
h3
{
	color: #C0B8B4;
	font-size: 12px;
	font-weight: normal;	
}
a
{
	color: white;
}
.header nav 
{
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
.header nav ul
{
	padding: 0 20px;
}
nav ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul
{
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.header nav li
{
	display: inline;
	margin-right: 25px;
	text-transform: uppercase;
}
li
{
	text-align: -webkit-match-parent;
}
.header nav li a
{
	color: #C0BAB6;
    background-color: #232323;
}
.text
{
	color: #979797;
	float: left;
	margin-left: 70px;
	margin-top: 30px;
	background-color: #DDDDDD;
}
h1
{
	font-style: italic;
	padding-left: 30px;
}
p{
	font-style: italic;
	padding: 20px;
}
.text a
{
	color: #EBA514;
	font-size: 12px;
	padding-left: 250px;
}
.artical h3
{
	color: #969696;
	float: left;
	margin-left: 70px;
	margin-top: 60px;
	font-size: 20px;
}
/*img
{
	margin-top: 30px;
	float: left;
	margin-left: 80px;
	border: 3px solid black;
	margin-right: 20px;
	margin-bottom: 5px;
}*/
.artical p
{
	color:#99A6B3;
	padding: 10px;
	padding-left: 20px;
	font-size: 12px;
}
.artical a
{
	color: #EBA514;
	font-size: 12px;
	padding-left: 250px;
}
.side img
{
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 10px;
	margin-bottom: 5px;
	border: 3px solid black;
}
.side h3
{
	color: #969696;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	font-size: 15px;
	text-transform: uppercase;
}
.side p
{
	color:#99A6B3;
	padding: 10px;
	padding-left: 45px;
	font-size: 12px;
}
.side a
{
	color: #EBA514;
	font-size: 12px;
	padding-left: 200px;
}
.footer
{
	background-color: #282828;
}
.footer p
{
	color: white;
}
.footer h6,a
{
	font-size: 15px;
	font-style: italic;
	color: white;
	margin-top: 25px;
}

